
/*---------------------------------------------
 * Viewport Helpers
 *--------------------------------------------*/

// Viewport Height (see jQuery fallbacks)
// Buggyfill is for browsers lacking vh support (Android < 4.3)

.maranatha-viewport-height {
  height: 100vh;
  content: 'viewport-units-buggyfill; height: 100vh;';
}

.maranatha-viewport-height-near-full {
  height: 95vh;
  content: 'viewport-units-buggyfill; height: 95vh;';
}

.maranatha-viewport-height-three-fourths {
  height: 75vh;
  content: 'viewport-units-buggyfill; height: 75vh;';
}

.maranatha-viewport-height-two-thirds {
  height: 67vh;
  content: 'viewport-units-buggyfill; height: 67vh;';
}

.maranatha-viewport-height-half {
  height: 50vh;
  content: 'viewport-units-buggyfill; height: 50vh;';
}

.maranatha-viewport-height-one-third {
  height: 33vh;
  content: 'viewport-units-buggyfill; height: 33vh;';
}

.maranatha-viewport-height-one-fourth {
  height: 25vh;
  content: 'viewport-units-buggyfill; height: 25vh;';
}

/*---------------------------------------------
 * Centered Blocks
 *--------------------------------------------*/

.maranatha-centered {
  margin-left: auto;
  margin-right: auto;
}

.maranatha-centered-large { // max width (logo/menu, footer, content containers, etc.)
	@extend .maranatha-centered;
	max-width: $max-width;
}

.maranatha-centered-medium { // homepage content, extended blockquotes, videos, etc.
	@extend .maranatha-centered;
	max-width: $max-width-medium;
}

.maranatha-centered-small { // page/post content (comfortable reading w/no sidebar)
	@extend .maranatha-centered;
	max-width: $max-width-small; // allows entry content about 75 characters per row for optimal readability
}

/*---------------------------------------------
 * Vertical Spacing
 *--------------------------------------------*/

// See vertical-spacing mixin for classes to @extend (see _@mixins.scss)
// When extended, mobile size reduction is automatic (see _variables.scss)
// Example: @extend .maranatha-vertical-margin-large (or padding)

@include vertical-spacing(); // default (can set 'mobile' argument too)

// Small
// .maranatha-vertical-margin-small
// .maranatha-vertical-padding-small
// .maranatha-vertical-margin-top-small
// .maranatha-vertical-padding-top-small
// .maranatha-vertical-margin-bottom-small
// .maranatha-vertical-padding-bottom-small

// Small (Content) - reduced to compensate for increased line height in content
// .maranatha-vertical-margin-small-content
// .maranatha-vertical-padding-small-content
// .maranatha-vertical-margin-top-small-content
// .maranatha-vertical-padding-top-small-content
// .maranatha-vertical-margin-bottom-small-content
// .maranatha-vertical-padding-bottom-small-content

// Medium
// .maranatha-vertical-margin-medium
// .maranatha-vertical-padding-medium
// .maranatha-vertical-margin-top-medium
// .maranatha-vertical-padding-top-medium
// .maranatha-vertical-margin-bottom-medium
// .maranatha-vertical-padding-bottom-medium

// Medium (Content) - reduced to compensate for increased line height in content
// .maranatha-vertical-margin-medium-content
// .maranatha-vertical-padding-medium-content
// .maranatha-vertical-margin-top-medium-content
// .maranatha-vertical-padding-top-medium-content
// .maranatha-vertical-margin-bottom-medium-content
// .maranatha-vertical-padding-bottom-medium-content

// Large
// .maranatha-vertical-margin-large
// .maranatha-vertical-padding-large
// .maranatha-vertical-margin-top-large
// .maranatha-vertical-padding-top-large
// .maranatha-vertical-margin-bottom-large
// .maranatha-vertical-padding-bottom-large

// Large (Content) - reduced to compensate for increased line height in content
// .maranatha-vertical-margin-large-content
// .maranatha-vertical-padding-large-content
// .maranatha-vertical-margin-top-large-content
// .maranatha-vertical-padding-top-large-content
// .maranatha-vertical-margin-bottom-large-content
// .maranatha-vertical-padding-bottom-large-content

// Misc
// .maranatha-vertical-margin-medium-small-content

/*---------------------------------------------
 * Main Content <main>
 *--------------------------------------------*/

#maranatha-content { // <main> between <header> and <footer>

  @extend .maranatha-vertical-margin-top-medium;
  @extend .maranatha-vertical-margin-bottom-large;
  display: block;
  min-height: 20vh; // makes single line pages line Not Found more comfortable
  content: 'viewport-units-buggyfill; min-height: 20vh;';

  // Remove top margin to make certain elements flush with header

  .maranatha-has-entry-map & {
    margin-top: 0;
  }

  // Remove bottom margin to make certain elements flush with footer

  .maranatha-no-comments-section.maranatha-has-nav-blocks & {
    margin-bottom: 0;
  }

  // Prevent horizontal scroll
  overflow: hidden;

}

// H1 heading for main content
// Header banner uses div instead of H1, because H1 should main in the main article
// This hides the text, as hidden assistive text, for proper HTMl5 and Outline

#maranatha-main-title {
  @extend .screen-reader-text;
}
